.DarshanDetail {
  display: block;
  .Detail {
    position: absolute;
    bottom: 40px;
    width: 100%;
    z-index: 9999;
    left: 0;
    height: 100%;
    padding: 0px 10px;

    video {
      width: 100%;
      height: 100%;
      object-fit: contain;
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 768px) and (min-width: 360px) {
  .DarshanDetail {
    display: block;
  }
}
